table {
  border-spacing: 1em .5em;
 
  padding: 0 2em 1em 0;
  border: 1px solid orange;
}
th{
  font-size:3rem;
  border:1px solid red;
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
}

td {
  border:1px solid black;
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
}
div#main{
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
#main{
  
  width:100%;
  height: 100%;
}